.button {
    border: 1px solid #555555;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    background-color: #94aedb;
    color: white;
    display: inline-block;
}

.button--delete {
    background-color: #c74e31;
}

.button--rename {
    background-color: #2f326b;
}
