:root {
    --primario: #c63c6a;
    --secundario: #2f326b;
    --secundario-claro: #94aedb;
    --terciario: #c74e31;
    --terciario-claro: #e3adad
}

@font-face {
    font-family: 'emegas';
    src: url('/fonts/kallaikosrevve-webfont.woff2') format('woff2'), url('/fonts/kallaikosrevve-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#test p {
    font-size: 25px;
    font-family: 'emegas';
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #666666;
    margin: 0;
}

header {
    background-color: var(--primario);
    padding: 50px 0 60px 0;
}

header h1 {
    color: white;
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    padding-left: 13px;
    padding-right: 13px;
}

section {
    /*text-align: center;*/
}

.text-center {
    text-align: center;
}

#seccion-asesoramento p {
    border-bottom: 4px solid #666666;
}


/*
#seccion-asesoramento p::after {
    content: 'esto es el after'
}

#seccion-asesoramento p::before {
    content: 'esto es el before '
}
*/

section img {
    width: 300px;
}

section ul {
    text-transform: uppercase;
    list-style: none;
    padding: 0;
}

section h2 {
    text-transform: uppercase;
}

section p {
    color: #666666;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
}

.text-black {
    color: black;
}

#seccion-asesoramento ul {
    text-align: right;
}

#seccion-asesoramento p {
    padding-bottom: 15px;
}

section {
    padding-bottom: 60px;
}

header {
    position: relative;
    margin-bottom: 50px;
}

header::after {
    content: '';
    background-image: url(/imgs/eslabon_azul.svg);
    background-size: 50px;
    height: 50px;
    position: absolute;
    bottom: -25px;
    width: 100%;
    background-size: contain;
}

.actions {
    list-style: none;
    padding: 0;
}

#displays div {
    color: white;
}

.div1 {
    background-color: #2f326b;
}

.div2 {
    background-color: #c63c6a;
}

.div3 {
    /*background-color: #94aedb;*/
    background-color: red;
}

@media (min-width: 1024px) {
    #displays {
        display: flex;
        max-width: 1200px;
        margin: 0 auto;
    }
    #displays div {
        flex: 1;
    }
    main {
        display: flex;
    }
    main section {
        flex: 1;
    }
}

footer {
    background-color: var(--secundario);
    border-radius: 20px 20px 0 0;
}

footer h2 {
    text-align: center;
    font-size: 40px;
    color: white;
}

.contact-child {
    text-align: center;
    color: white;
    font-size: 20px;
}

.contact-child a {
    color: #c63c6a;
}

.mision {
    border: 1px solid red;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.mision>div {
    flex: 1 0 0%;
    border: 1px solid #2f326b;
    /*padding: 15px;*/
    width: 100%;
    max-width: 100%;
}

.mision .imaxe {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mision .texto {
    padding: 50px;
}

.mision img {
    padding: 100px;
}

.grid {
    border: 1px solid red;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
}

.grid>div {
    border: 1px solid green;
}

.grid .texto {
    padding: 50px;
    ;
}

.lorem {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
}

.lorem .col {
    flex: 1;
    padding: 15px;
    border: 1px solid red;
    position: relative;
}

.col .box {
    border-radius: 5px;
    padding: 20px 30px;
    max-width: 400px;
    color: white;
}

.col .box p {
    color: var(--secundario-claro);
}

.col .box-1 {
    background-color: var(--secundario);
    position: absolute;
    top: 5px;
    left: 130px;
    z-index: 99;
}

.col .box-2 {
    background-color: pink;
    position: absolute;
    top: 110px;
    left: 0;
}

.col .box-3 {
    background-color: orange;
    position: absolute;
    top: 200px;
    left: 250px;
}

@media (min-width: 1024px) {
    .contact-child {
        display: inline-block;
    }
}
