body {
    background-color: aquamarine;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid gray;
}

.container div {
    display: block;
    width: 300px;
    border: 1px solid red;
    margin: 50px;
}